@page
@model AlertinatorWeb.Pages.KeywordSubscriptions.IndexModel

@{
    ViewData["Title"] = "Your Keyword Subscriptions";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.KeywordSubscription[0].Keyword)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KeywordSubscription[0].SendEMail)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.KeywordSubscription) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Keyword)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.SendEMail)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
