@page
@model AlertinatorWeb.Pages.Alerts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Your News Alert Feed</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alert[0].Keyword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alert[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alert[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alert[0].DatePublished)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Alert)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Keyword)
                </td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePublished)
                </td>

            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Alert.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Alert.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Alert.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-pageIndex="@(Model.Alert.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>